@model HotelPriceCalculator.Models.ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <div>
        <h3 class="text-danger">@Model.RequestId</h3>
        <p>@Model.ShowRequestId</p>
    </div>
</body>
</html>
